.auto-res{
    background-color: white;
    border: 1px #d5d5d5 solid;
    width: 17%;
    margin: 0;
    position: fixed;
    /* top: 50%; */
    left: 50%;
    transform: translate(-42%, -10%);
    opacity: 0.95;
    visibility: visible;
    z-index: 10
    
    
}
option:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.hide{
    display: none;
}