.mb-3{
    width: 20% !important;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-outline-secondary, .form-control {
    height: 40px !important;

}
.search-container{
    background-color: #d5d5d5;
    
    height: 90px;
}
button > * {
    pointer-events: none;
}